<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/menu :: head">

</head>
<body>
	<div th:replace="fragments/menu :: menu"></div>
	<div class="container">
		<table id="tableMedicaments" class="table table-striped table-bordered dt-responsive nowrap" width="100%">
			<thead>
				<tr>
					<th th:text="#{name}"></th>
					<th th:text="#{kind}"></th>
					<th th:text="#{expirationDate}"></th>
					<th th:text="#{producent}"></th>
					<th th:text="#{price}"></th>
					<th th:text="#{id}"></th>
					<th class="col-md-2"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="medicament : ${medicaments}">
					<td th:text="${medicament.name}"></td>
					<td th:text="${medicament.kind}"></td>
					<td th:text="${medicament.sDate}"></td>
					<td th:text="${medicament.producent}"></td>
					<td th:text="${medicament.price}"></td>
					<td th:text="${medicament.id}" class="tableMedicaments-id"></td>
					<td class="col-md-2">
						<a><img style="cursor: pointer" th:src="@{/resources/jpg/archive.png}" class="button-archive"></a>
						<a th:if="${medicament.packageID} != 0"><img style="cursor: pointer" th:src="@{/resources/jpg/info.png}" class="button-info"></a>
					</td>
				</tr>
			</tbody>
		</table>
		<button th:text="#{Add}" class="btn btn-warning btn-lg" id="button-add"></button>
		<script type="text/javascript">
		$(function() {
			$('#button-add').on('click', function(){
				$('#modalAddMedicament').modal({
					  backdrop: 'static',
					  keyboard: false
					}).show();
			});
			$('.button-archive').on('click', function(){
				var id = $(this).parent().parent().parent().find('.tableMedicaments-id').html();
				var url = 'archive/' + id + '.html';
				$('#btnArchive').parent().attr("href", url);
				$('#modalArchiveMedicament').modal({
					  backdrop: 'static',
					  keyboard: false
					}).show();
			});
			$('.button-info').on('click', function(){
				var id = $(this).parent().parent().parent().find('.tableMedicaments-id').html();
				getAdditional(id);
			});
		})
		</script>
	</div>
	
<!-- modals -->
<div th:replace="modals/medicament/archive :: modal"></div>
<div th:replace="modals/medicament/info :: modal"></div>
<div th:replace="modals/medicament/add :: modal"></div>
<!-- end of modals -->
</body>
</html>