<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div th:fragment="modal" class="modal fade" id="modalAddDosage">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 th:text="#{AddDosage}" class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<fieldset class="form-group">
					<div>
						<div style="float: left;">
							<div>
								<button id="btnHourUp" type="button" class="btn btn-primary btn-time"><span class="glyphicon glyphicon-chevron-up"></span></button>
							</div>
							<div id="hourValue" style="text-align: center;">
							12
							</div>
							<div>
								<button id="btnHourDown" type="button" class="btn btn-primary btn-time"><span class="glyphicon glyphicon-chevron-down"></span></button>
							</div>
						</div>
						<div style="float: left; margin-left: 10px;" >
							<div>
								<button id="btnMinuteUp" type="button" class="btn btn-primary btn-time"><span class="glyphicon glyphicon-chevron-up"></span></button>
							</div>
							<div id="minuteValue" style="text-align: center;">
							00
							</div>
							<div>
								<button id="btnMinuteDown" type="button" class="btn btn-primary btn-time"><span class="glyphicon glyphicon-chevron-down"></span></button>
							</div>
						</div>
						<div style="clear: both;"></div>
					</div>
				</fieldset>
				<fieldset class="form-group">
					<label th:text="#{AddDosage}" for="addDosageDosage"></label>
					<input type="number" class="form-control" id="addDosageDosage" th:placeholder="#{WriteNumber}" value="1" autocomplete="off">
				</fieldset>
			</div>		
			<div class="modal-footer">
				<span id="loadingAdd" hidden>
					<span th:text="#{working}"></span>
					<img th:src="@{/resources/jpg/loading.gif}">
				</span>
               	<button id="modalAddDosageCancel" th:text="#{Cancel}" type="button" class="btn btn-default" data-dismiss="modal" onclick="showModal($('#modalDosages'))"></button>
    			<button id="saveDosage" th:text="#{Save}" type="button" class="btn btn-default" onclick="saveDosage()"></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>