<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div th:fragment="modal" class="modal fade" id="modalDosages">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 th:text="#{Dosages}" class="modal-title"></h4>
                <h5 id="modalDosagesDisease"></h5>
                <h5 id="modalDosagesMedicament"></h5>
			</div>
			<div class="modal-body">
				<button type="button" class="btn btn-primary" onclick="hideModal($('#modalDosages'));showModal($('#modalAddDosage'));"><span class="glyphicon glyphicon-plus"></span></button>
				<table id="tableDosages" class="table table-bordered table-hover table-striped" width="100%">
				<!-- table is creating by ajax -->
   				</table>
   				<script type="text/javascript">
   				$(document).on("click", '.delete-dosage', function(event) { 
   					var url = $(this).attr('url');
   					deleteDosage(url);   					
   				});
   				</script>
			</div>
			<div class="modal-footer">
               	<button th:text="#{Close}" type="button" class="btn btn-default btn-disable" data-dismiss="modal"></button>
            </div>
        </div>
    </div>
</div>

</body>
</html>