<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div th:fragment="modal" class="modal fade" id="modalArchiveDisease">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 th:text="#{ConfirmFinishDisease}" class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p th:text="#{operationIrreversible}"></p>
				<div class="form-group">
						<label th:text="#{DateEnd}"/>
						<div class="input-group">
	   						<label for="diseaseStop" class="input-group-addon btn "><span class="glyphicon glyphicon-calendar"></span></label>
	   						<input id="diseaseStop" th:placeholder="#{ClickCalendar}" autocomplete="off" class="datepicker form-control"/>	
						</div>
				</div>
				<div style="margin-top: 15px;" class="alert alert-danger" id="errorForm2" hidden></div>
			</div>
			<div class="modal-footer">
   				<span id="loadingArchive" hidden>
                	<span th:text="#{working}"></span>
                	<img th:src="@{/resources/jpg/loading.gif}">
               	</span>
               	<button th:text="#{Cancel}" id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal"></button>
               	<a><button th:text="#{Finish}" type="button" class="btn btn-danger btn-disable" onclick="clickButtonArchive()"></button></a>
			</div>
		</div>
	</div>
</div>
</body>
</html>