<!DOCTYPE html>
<html>
<head th:replace="fragments/menu :: head">
</head>
<body>
	<script type="text/javascript" th:inline="javascript">
		var idD = [[*{disease.id}]];
		
		//http://jsfiddle.net/giorgitbs/52ak9/1/	
		$(function(){
			$('#filter').keyup(function () {
		        var rex = new RegExp($(this).val(), 'i');
		        $('.searchable tr').hide();
		        $('.searchable tr').filter(function () {
		            return rex.test($(this).text());
		        }).show();
		    })
		})
	</script>
	<script type="text/javascript" th:inline="javascript" th:src="@{/resources/js/diseases/functions-info.js}"></script>
	<script type="text/javascript" th:inline="javascript" th:src="@{/resources/js/dosages/functions.js}"></script>
	<div class="container">
		<div th:switch="${session.list}">
			<a th:case="null" th:href="@{'/diseases?list=all'}"><img style="cursor: pointer" th:src="@{/resources/jpg/back.png}"></a>
			<a th:case="*" th:href="@{'/diseases?list=' + ${session.list}}"><img style="cursor: pointer" th:src="@{/resources/jpg/back.png}"></a>
		</div>
		<h3><span th:text="#{DiseaseDetails}"></span><span th:text="${disease.name}" class="label label-default"></span></h3>
		<table>
			<tr>
				<td style="vertical-align: top; padding: 15px;">
					<div>
						<h4><span th:text="#{Information}"></span></h4>
						<h5><span th:text="#{DateStart}"></span> <span th:text="${disease.start}"></span></h5>
						<h5 th:if="${disease.stop} != null"><span th:text="#{DateEnd}"></span> <span th:text="${disease.stop}"></span></h5>
						<h5 th:if="${disease.stop} == null"><span th:text="#{DiseaseNotEnded}"></span></h5>
						<h5><span th:text="#{DescriptionDisease}"></span></h5>
						<p th:text="${disease.description}"></p>
					</div>
				</td>
				<td style="vertical-align: top; padding: 15px;">
					<div>
						<h4><span th:text="#{MedicamentsList}"></span></h4>
						<form action="#" th:action="@{/diseases/medicaments}" th:object="${medicamentForm}" method="post" id="formRemoveMedicaments">
							<table class="table table-striped table-bordered dt-responsive nowrap" width="100%">
							<thead>
								<tr>
									<th></th>
									<th th:text="#{name}"></th>
									<th th:text="#{kind}"></th>
									<th th:text="#{expirationDate}"></th>
									<th th:text="#{producent}"></th>
									<th th:text="#{price}"></th>
									<th th:text="#{id}"></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="medicament : ${disease.medicaments}">
									<td>
										<input type="checkbox" th:value="${medicament.id}" th:field="*{ids}" onclick="unblockRemoveButton()"/>
									</td>
									<td th:text="${medicament.name}"></td>
									<td th:text="${medicament.kind}"></td>
									<td th:text="${medicament.sDate}"></td>
									<td th:text="${medicament.producent}"></td>
									<td th:text="${medicament.price}"></td>
									<td th:text="${medicament.id}" class="medicament-id"></td>
									<td class="col-md-2">
										<a><img style="cursor: pointer" th:src="@{/resources/jpg/drugs.png}" class="button-drugs" onclick="clickDrugsBitton(this)"></a>
									</td>
								</tr>
							</tbody>
							</table>
							<input th:field="*{diseaseId}" hidden/>
							<button type="submit" th:text="#{Delete}" class="btn btn-danger" disabled="disabled"></button>
						</form>
					</div>
				</td>
				<td style="vertical-align: top; padding: 15px;">
					<div>
						<h4><span th:text="#{FilesList}"></span></h4>
						<table class="table table-striped table-bordered dt-responsive nowrap" width="100%">
						<thead>
							<tr>
								<th th:text="#{name}"></th>
								<th th:text="#{kind}"></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="file : ${files}">
								<td th:text="${file.name}"></td>
								<td></td>
								<td class="col-md-2">
									<a th:href="${file.url}"><img style="cursor: pointer" th:src="@{/resources/jpg/view.png}" class="button-drugs"></a>
								</td>
							</tr>
						</tbody>
						</table>
						<button th:text="#{Add}" id="button-add-file" class="btn btn-danger" onclick="showModal($('#modalAddFile'))"></button>
					</div>
				</td>
			</tr>
		</table>
		
		<h4><span th:text="#{AllMedicaments}"></span></h4>
		<div class="input-group"> <span th:text="#{Search}" class="input-group-addon"></span>
			<input id="filter" type="text" class="form-control" th:placeholder="#{LabelPutName}">
		</div>
		<form action="#" th:action="@{/diseases/medicaments}" th:object="${medicamentForm}" method="post" id="formAddMedicaments">
			<table class="table table-striped table-bordered dt-responsive nowrap" width="100%">
				<thead>
					<tr>
						<th></th>
						<th th:text="#{name}"></th>
						<th th:text="#{kind}"></th>
						<th th:text="#{expirationDate}"></th>
						<th th:text="#{producent}"></th>
						<th th:text="#{price}"></th>
						<th th:text="#{id}"></th>
					</tr>
				</thead>
				<tbody class="searchable">
					<tr th:each="medicament : ${disease.user.medicaments}" th:if="${medicament.archive} == false">
						<td>
							<input type="checkbox" th:value="${medicament.id}" th:field="*{ids}" onclick="unblockAddButton()"/>
						</td>
						<td th:text="${medicament.name}"></td>
						<td th:text="${medicament.kind}"></td>
						<td th:text="${medicament.sDate}"></td>
						<td th:text="${medicament.producent}"></td>
						<td th:text="${medicament.price}"></td>
						<td th:text="${medicament.id}"></td>
					</tr>
				</tbody>
			</table>
			<input th:field="*{diseaseId}" hidden/>
			<button type="submit" th:text="#{Add}" class="btn btn-info" disabled="disabled"></button>
		</form>
	</div>
	
	
<!-- modals -->
<div th:replace="dosages/modals/dosages :: modal"></div>
<div th:replace="dosages/modals/add :: modal"></div>
<div th:replace="files/modals/add :: modal"></div>
<!-- end of modals -->
</body>
</html>