<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div th:fragment="modal" class="modal fade" id="modalArchiveMedicament">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 th:text="#{confirmUse}" class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p th:text="#{isUsedDisease}"></p>
				<p th:text="#{operationIrreversible}"></p>
			</div>
			<div class="modal-footer">
   				<span id="loadingArchive" hidden>
                	<span th:text="#{working}"></span>
                	<img th:src="@{/resources/jpg/loading.gif}">
               	</span>
               	<button th:text="#{Cancel}" id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal"></button>
               	<a><button th:text="#{Used}" id="btnArchive" type="button" class="btn btn-danger btn-disable"></button></a>
   				<script type="text/javascript">
					$('#btnArchive').on('click', function(){
						$('#loadingArchive').prop('hidden', false);
						$('#btnCancel').prop('disabled', true);
						$('#btnArchive').prop('disabled', true);
					});
				</script>
			</div>
		</div>
	</div>
</div>
</body>
</html>