<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="modal" class="modal fade" id="modalSearchMedicament">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 th:text="#{ChooseMedicament}" class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<table id="tableSearch"class="table table-striped">
					<thead>
						<tr>
							<td th:text="#{Name}"></td>
							<td th:text="#{Producent}"></td>
							<td th:text="#{Kind}"></td>
							<td th:text="#{Price}"></td>
							<td th:text="#{packageID}"></td>
						</tr>
					</thead>
					<tbody>
					<tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					
					</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button th:text="#{Cancel}" type="button" class="btn btn-default"/>
				<a th:text="#{Choose}" class="btn btn-danger"></a>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	var packageID;
	var retrieveSearch;
	var chooseMedicamentDb;
	$('#modalSearchMedicament > .modal-dialog > .modal-content > .modal-footer > a').on('click', function(){
		var chooseMedicamentDb = $.grep(retrieveSearch, function(e){ return e.packageID == packageID; });
		createForm(chooseMedicamentDb[0]); //function in add.html
		$('#modalSearchMedicament').modal('hide');
	});
	$('#modalSearchMedicament > .modal-dialog > .modal-content > .modal-footer > button').on('click', function(){
		$('#modalSearchMedicament').modal('hide');
	});
	function searchMedicaments(search){
		$.ajax({
			url: '/api/medicamentsdb/search',
			data:{search:search},
			type: 'GET',
			beforeSend: function(xhr) {
				
				xhr.setRequestHeader("Accept", "application/json");
				xhr.setRequestHeader("Content-Type", "application/json");
			},
			success: function(data){
				retrieveSearch = data;
 				clearContent($('#tableSearch > tbody'));
 				createTable(data, $('#tableSearch > tbody'));
				openModal($('#modalSearchMedicament'));
			},
			error: function(xhr) {
				console.log(xhr);
			}
		});
		
		$('#tableSearch > tbody').delegate('tr','mouseover mouseleave', function(e){
		    if (e.type == 'mouseover') {
		        $(this).addClass('success');
		    } else {
		        $(this).removeClass('success');
		    }
		});
		$('#tableSearch').on('click', 'tbody > tr', function(){
			$(this).addClass('info');
			$(this).siblings().removeClass('info');
			packageID = $(this).find('.packageID').html();
			});
 	}
	
	function clearContent(clear) {
		clear.html('');
	}
	function createTable(data, tbody) {
		$.each(data, function(index, element){
			tbody.append("<tr>" + 
						"<td>" + element.productName + "</td>" + 
						"<td>" + element.producer + "</td>" + 
						"<td>" + element.pack + "</td>" + 
						"<td>" + element.price + "</td>" + 
						"<td class=\"packageID\">" + element.packageID + "</td>" + 
						"</tr>");
		});
	}
	function openModal(modal) {
		modal.modal({
			  backdrop: 'static',
			  keyboard: false
			}).show();
	}

	</script>
</div>
</body>
</html>