<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head">
	<meta charset="UTF-8">
	<script type="text/javascript" th:src="@{/resources/js/jquery-2.2.3.min.js}"></script>
	<script	type="text/javascript" th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script	type="text/javascript" th:src="@{/resources/js/medi.date.js}"></script>
	<script	type="text/javascript" th:src="@{/resources/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
	<script	type="text/javascript" th:src="@{/resources/bootstrap-datepicker/locales/bootstrap-datepicker.pl.min.js}"></script>
	<script	type="text/javascript" th:src="@{/resources/js/moment-with-locales.min.js}"></script>
	<link rel="stylesheet" type="text/css" href="../../../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../../resources/css/medi.css" th:href="@{/resources/css/medi.css}"/>
	<link rel="stylesheet" type="text/css" href="../../../resources/bootstrap-datepicker/css/bootstrap-datepicker3.css" th:href="@{/resources/bootstrap-datepicker/css/bootstrap-datepicker3.css}"/>
</head>
<body>
<div class="container" th:fragment="menu">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span th:text="#{expandNavigation}" class="sr-only"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a th:text="#{appName}" class="navbar-brand" href="#"></a>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:text="#{Medicaments}" class="navbar-position" th:href="@{/medicaments}"></a></li>
					<li sec:authorize="isAuthenticated()" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="#{Diseases}"></span><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:text="#{Active}" th:href="@{/diseases?list=active}"></a></li>
							<li><a th:text="#{Ended}" th:href="@{/diseases?list=archive}"></a></li>
							<li role="separator" class="divider"></li>
							<li><a th:text="#{All}" th:href="@{/diseases?list=all}"></a></li>
						</ul>
					</li>
					<li sec:authorize="isAuthenticated()"><a th:text="#{Persons}" class="navbar-position" href="#"></a></li>
					<li sec:authorize="isAuthenticated()"><a th:text="#{Leaflet}" class="navbar-position" href="#"></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:text="#{Admin}" class="navbar-position" href="#"></a></li>
					<li sec:authorize="isAnonymous()"><a th:text="#{Register}" class="navbar-position" href="/register"></a></li>
					<li sec:authorize="isAnonymous()"><a th:text="#{LogIn}" class="navbar-position" href="/login"></a></li>
					<li sec:authorize="isAuthenticated()"><a th:text="#{MyAccount}" class="navbar-position" href="#"></a></li>
					<li sec:authorize="isAuthenticated()"><a th:text="#{LogOut}" class="navbar-position" href="/logout"></a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
</body>
</html>