<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="modal fade" id="modalArchiveMedicament">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Potwierdź zużycie</h4>
			</div>
			<div class="modal-body">
				<p>Czy lek jest na pewno zuzyty?</p>
				<p>Operacja jest nieodwracalna..</p>
			</div>
			<div class="modal-footer">
     			<form id="formArchive">
                	<span hidden="false" id=loadingArchive>
						Pracuję nad tym...
						<img src="/resources/jpg/loading.gif">
					</span>
                	<button id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                	<a><button id="btnArchive" type="button" class="btn btn-danger btn-disable">Zużyty</button></a>
    				<script type="text/javascript">
					$('#btnArchive').on('click', function(){
						$('#loadingArchive').prop('hidden', false);
						$('#btnCancel').prop('disabled', true);
						$('#btnArchive').prop('disabled', true);
					});
					</script>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>